# Ambiente Virtual do Python
mugiwara-store-backend/venv


# Dados do Banco de Dados Docker
postgres-data/

# Cache do Python
mugiwara-store-backend/__pycache__/
mugiwara-store-backend/__pycache__/*.pyc

# Arquivos de configuração de IDEs/Editores
.vscode/
.idea/